*{box-sizing: border-box;
margin: 0;
padding: 0;
}
.hed{background-color: rgb(38, 151, 113);
color: azure;
width: 100%;
height: 100%;
padding: 50px;
}
h3{color: rgb(77, 99, 100);
    font-size: x-large;
}
.conte{font-size: xx-large;
margin-top: 25px;
}
.flexa{display: flex;
flex-wrap: nowrap;
}
.icon{width: 80px;
    height: 80px;
    margin-top: 35px;
    padding: 10px;
}
.text{display: flex;
justify-content: flex-start;
padding: 20px;
margin-top: 30px;
width: 100%;
}
.text p{margin-left: 3%;
width: 120px;
}
.text div p:first-child {color: rgb(77, 99, 100);
}
@media screen and (max-width: 699.98px) {.hed {
    font-size: small;
    margin-top: 20px;
    min-width: 99.98px;
  }
  h3{font-size: 17px;
    margin-left: -7%;
    margin-top: -7%;
  }
  .conte{font-size: 20px;
margin-left: -7%;
  }
  .text{display: flex;
flex-wrap: wrap;
margin-left: -10%;
}
.icon{margin-left: -50%;}
}